<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="address-display">
    <div class="row">
        <div class="col-md-12">
            <div th:object="${address}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="firstName">First Name</label>
                        <div id="firstName" th:text="*{firstName}"></div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastName">Last Name</label>
                        <div id="lastName" th:text="*{lastName}"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="streetAddress">Street Address</label>
                    <div id="streetAddress" th:text="*{streetAddress}"></div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="city">City</label>
                        <div id="city" th:text="*{city}"></div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="stateCode">State</label>
                        <div id="stateCode" th:text="*{stateCode}"></div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="zipCode">Zip</label>
                        <div id="zipCode" th:text="*{zipCode}"></div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="country">Country</label>
                        <div id="country" th:text="*{country}"></div>
                    </div>
                </div>
                <div class="alert alert-primary" role="alert">
                    Address processed correctly.
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a th:href="@{/example09}">Go Back</a>
        </div>
    </div>
</div>

</body>
</html>