<!doctype html>
<html th:replace="~{layout :: layout(~{::main})}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">

    <div class="album py-5 bg-light">
        <div class="container">

            <p>Image below can be send via HTTP/1.x Pull approach or HTTP/2 Push.</p>
            <img width="128" height="128" src="/img/b-module02.jpg"/>
            <img width="128" height="128" src="/img/b-module05.jpg"/>
            <img width="128" height="128" src="/img/b-module08.jpg"/>

        </div>
    </div>

</main>
</body>
</html>
